body {
    background-color: black;
    font-size: 16px;
    background-image: url('../assets/susan-q-yin-xNLAq4U3GT8-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

